@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif
}
body{
  background-color: #d5e1ef;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.card{
  background-color: white;
  height: 497px;
  width: 320px;
  border-radius: 10px;
}
.card:hover{
  transform: translateY(-5px);
  box-shadow: 5px 5px 10px black;
  transition: all 0.2s ease-out;
}

.card img{
  padding: 16px;
  height: 288px;
  width: 288px;
  border-radius: 28px;
}
.card_content{
  width: 288px;
  height: 129px;
  margin: auto;
  text-align: center;
}
.card_title{
  width: 288px;
  height: 56px;
  font-weight: 700;
  font-size: 22px;
  margin: 1rem 0;
}
.card_desc{
  width: 256px;
  height: 57px;
  font-weight: 400;
  font-size: 15px;
  color: grey;
}
